#This is yaml file

name: Deploy to Azure App Service

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Azure using OIDC
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}


    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
          terraform_version: 1.5.7

    - name: Terraform Init
      run: terraform init
      working-directory: environment

    - name: Terraform Import RG
      run: |
        terraform import azurerm_resource_group.rg 
        /subscriptions/${{ secrets.SUBSCRIPTION_ID }}/resourceGroups/Git-rg


    - name: Terraform Plan
      run: terraform plan
      working-directory: environment

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: environment 
